/* p{
    display: inline;
}
span{
    display: block;
}
h3{
    display: none;
    
} */
* {
    box-sizing: border-box;
    padding: 0;
}

.flex-container {
    height: 90vh;
    background-color: lightblue;
    padding: 10px;


    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;

    align-items: center;
    justify-content: center;
    align-content: center;



}

.flex-items {
    font-size: 24px;
    color: white;
    background-color: darkblue;
    padding: 10px;
    height: 60px;
    width: 250px;
    margin: 2px;

}

nav {
    background-color: rgb(152, 152, 195);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

nav>h2 {
    font-family: monospace;
    font-size: 28px;

}

nav>ul {
    display: flex;
    width: 400px;
    justify-content: space-between;
    list-style-type: none;
}

nav>ul>li>a {
    text-decoration: none;
    color: darkblue;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
}

nav>ul>li>a :hover {
    color: red;
    transition: all 1s;
}

nav>div>input {
    height: 30px;
    width: 250px;
    padding: 6px;
    outline: none;
    border-radius: 5px;

}

nav>div>input::placeholder {
    text-transform: capitalize;
    font-family: monospace;
}

nav>div>button {
    background: transparent;
    font-size: 22p;
    border: none;
}

nav>div>button:hover {
    cursor: pointer;
    transform: translate(0, 2px);
}