.navbar{
    background-color: aquamarine;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}
.navbar > h2{
    font-weight: 500;
    font-size: 28px;
}
.navbar-menu{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown{
    position: relative;
}
.dropdown-hover .dropdown-content{
    display: block;
}
.dropdown-menu{
    background-color: aqua;
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dropdown-menu > a{
    text-decoration: none;
    color: gray;
}
.dropdown-menu > :hover{
    color: purple;
}
.dropdown-content{

}